@import "tailwindcss";

@theme {
  --color-pink-accent: #FF5FD7;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Playfair Display", serif;
}

@layer base {
  body {
    @apply bg-black text-white font-sans antialiased;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
